<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chatbot</title>
    <script>
      window.CHATBOT_ID = "<%= chatbotId %>";
    </script>
    <script src="/widget/widget-loader.js" defer></script>
  </head>
  <body>
    <chatbot-widget></chatbot-widget>
  </body>
</html>
